<form id="new_question_form" class="center hidden" method='post' action='/questions'>
  <label for="question_name">Question Title:</label>
  <input name="question[title]" type="text" id="question_name"></input>
  <br>
  <label for="question_text">Question Body:</label>
  <textarea name="question[body]" id="question_text"></textarea>
  <br>
  <input type="submit" class="button" value="Submit"></input>
</form>