<form id="new_question_form" class="center hidden" method='post' action='/questions/<%=@question.id%>'>
<input type="hidden" name="_method" value="delete">
  <input type="submit" class="button" value="Delete"></input>
</form>