<h1><%=@question.title%></h1>
<h3><%=@question.body%></h3>

<% if @question.best_answer %>
  <h4>Top answer:</h4>
  <h3><%= @question.best_answer.body %></h3>
<% end %>

<!-- print in order of upvotes -->
<%@question.answers.each do |answer|%>
  <% if !answer.is_best? %>
    <div><%= answer.body %></div>
  <% end %>
<% end %>

