<div id="new_comment_partial">

  <form action="/comments/<%=@comment.id%>" method="post">
    <input type="text" name="body">
    <input type="submit" value="Submit">
  </form>

  <div id="error"><% if @error %>
    <p><%= @error %></p>
  <%end%></div>
  
</div>
