<h1>Add comment:</h1>

<form method='post' action='/answers/<%=@answer.id%>/comments'>
  <input type='text' name='body' placeholder="comment"></input>
  <input type='submit' name='submit'></input>
</form>