<form method='post' action='/users/new'>
  <input type='text' name='email'></input>
  <input type='text' name='username'></input>
  <input type='password' name='password'></input>
  <input type='submit' name='submit'></input>
</form>
