<h2 class="sign-up-text">Sign up:</h2>

<div id="form-page">
  <form id="sign-up" method='post' action='/users'>
    <h4>Email:</h4><input type='text' name='email'></input>
    <h4>Username:</h4><input type='text' name='username'></input>
    <h4>Password:</h4><input type='password' name='password'></input><br>
    <input class="button "type='submit' value='Go!'></input>
  </form>
</div>
