  <form action="/questions/<%=@question.id%>/answers" method="post">
    Your answer:
    <input type="text" name="body">
    <input type="submit" value="Submit">
  </form>

  <div id="error"><% if @error %>
    <p><%= @error %></p>
  <%end%></div>