<!DOCTYPE html>
<html lang="en">
<head>
  <!--
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/css/normalize.css">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/css/application.css">
  <!-- Load Vollkorn font -->
  <link href='http://fonts.googleapis.com/css?family=Vollkorn:400italic,400' rel='stylesheet' type='text/css'>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>
  <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,500,700' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>


  <title></title>
</head>
<body>
    <div id="main-logo">
      <img src="/img/pack-logo.png" alt="logo" class="logo">
      <h1 class="pack-header"><span class="pack-span">pack</span><span class="over">overflow</span></h1>
    </div>
    <div id="login-toolbar">
      <% if current_user %>
        <a href="/users/<%= current_user.id %>"><%=current_user.username%></a>
        <a href="/users/show"><%=current_user.username%></a>
        <a href="/logout">logout</a>
      <% else %>
        <a href="/login">login</a>
        <a href="/users/new">sign up</a>
      <% end %>
    </div>
  <div id="content">
    <%= yield %>
  </div>
</body>
</html>
